<h1>Search for a user</h1>

<div class="container">
	<form action='users/search/results' action="GET">
		<input type="text" name="username" placeholder="Enter Username">
		<input type="submit" value="Search">
	</form>
</div>