<h1>Turn Thought into Tweet</h1>
<div class="container">
	<form action='/users/:user_id/posts' method="POST">
		<textarea rows="4" cols="40"></textarea>
		<input type="submit" value="Tweet">
	</form>
</div>
<%= logout %>